version: '3.9'
services:
  ruuter:
    container_name: ruuter_auto
    build:
      context: .
    volumes:
      - ./DSL:/DSL
    ports:
      - 8995:8995
    networks:
      - ruuter

networks:
  ruuter:
    driver: bridge
